---
import MarketingCard from "./MarketingCard.astro";

// Locale & translations
const currentLocale = Astro.currentLocale || "it";
const translations = await import(`../i18n/${currentLocale}.json`);
const t = translations.default;

export type Props = { class?: string };
const { class: className } = Astro.props;

const url: Record<string, string> = {
  socialMediaManager:
    currentLocale === "en"
      ? "/en/social-media-manager/"
      : "/social-media-manager/",
  graphicDesigner:
    currentLocale === "en" ? "/en/graphic-designer/" : "/graphic-designer/",
  contentCreator:
    currentLocale === "en" ? "/en/content-creator/" : "/content-creator/",
};
---

<section class={`row ${className ?? ""}`}>
  <MarketingCard
    keywords={t.marketingCards.graphicDesigner.keywords}
    title={t.marketingCards.graphicDesigner.title}
    subtitle={t.marketingCards.graphicDesigner.subtitle}
    text={t.marketingCards.graphicDesigner.text}
    cta={t.marketingCards.graphicDesigner.cta}
    href={url.graphicDesigner}
    color="pink"
  />
  <MarketingCard
    keywords={t.marketingCards.socialMediaManager.keywords}
    title={t.marketingCards.socialMediaManager.title}
    subtitle={t.marketingCards.socialMediaManager.subtitle}
    text={t.marketingCards.socialMediaManager.text}
    cta={t.marketingCards.socialMediaManager.cta}
    href={url.socialMediaManager}
    color="green"
  />
  <MarketingCard
    keywords={t.marketingCards.contentCreator.keywords}
    title={t.marketingCards.contentCreator.title}
    subtitle={t.marketingCards.contentCreator.subtitle}
    text={t.marketingCards.contentCreator.text}
    cta={t.marketingCards.contentCreator.cta}
    href={url.contentCreator}
    color="brown"
  />
</section>

<style>
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
  }

  @media (max-width: 1200px) {
    .row {
      gap: 36px;
      padding: 0 75px;
    }
  }
  @media (max-width: 1050px) {
    .row {
      gap: 32px;
      padding: 0 30px;
    }
  }
  @media (max-width: 900px) {
    .row {
      gap: 28px;
      padding: 0 18px;
    }
  }
  @media (max-width: 750px) {
    .row {
      gap: 24px;
      padding: 0 16px;
    }
  }

  /* Sotto 720px: 1 colonna */
  @media (max-width: 720px) {
    .row {
      grid-template-columns: 1fr;
      gap: 82px;
      padding: 0 16px;
    }
  }
</style>
